{% extends 'pointofsale/mainapp_layout.html' %}

{% block title %} Receipt {% endblock title %}

{% block content %}
  <main>
    <div class="container">

    <div class="table-responsive text-nowrap">
    <h2>Order Summary</h2>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Item title</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Discount Price</th>
            <th scope="col">Total Item Price</th>
            
        </tr>
        </thead>
        <tbody>
        {% for purchase_item in object.product.all %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ purchase_item.product.name }}</td>
            <td>{{ purchase_item.product.selling_price }}</td>
            <td>
                <a href="{% url 'remove_single_item_from_cart' purchase_item.product.id %}"><i class="fas fa-minus mr-2"></i></a>
                {{ purchase_item.quantity }}
                <a href="{% url 'add-to-cart' purchase_item.product.id %}"><i class="fas fa-plus ml-2"></i></a>
            </td>
            <td>{{ purchase_item.product.discount_price }}</td>
            <td>
              {% if purchase_item.product.discount_price %}
              &#x20A6;{{ purchase_item.get_total_discount_item_price }}
                  <span class="badge badge-primary">Saving &#x20A6;{{ purchase_item.get_amount_saved }}</span>
              {% else %}
              &#x20A6;{{ purchase_item.get_total_item_price }}
              {% endif %}
              <a style='color: red;' href="{% url 'remove-from-cart' purchase_item.product.id %}">
                  <i class="fas fa-trash float-right"></i>
              </a>
              </td>

        </tr>
        {% empty %}
        <tr>
            <td colspan='5'>Your cart is empty</td>
        </tr>
        <tr>
            <td colspan="5">
            <a class='btn btn-primary float-right' href="{% url 'pointofsale-sales'%}">Continue shopping</a>
            </td>
        </tr>
        {% endfor %}
        
        {% if object.get_total %}
        <tr>
            <td colspan="4"><h2><b>Order Total</b></h2></td>
            <td><h2> <b> &#x20A6;{{ object.get_total }}</b></h2>></td>
        </tr>
        <tr>
            <td colspan="5">
            <a class='btn btn-warning float-right ml-2 pr-4 pl-4' href='/checkout/'>Proceed to Pay</a>
            <a class='btn btn-primary float-right' href='{% url 'pointofsale-sales'%}'>Continue shopping</a>
            </td>
        </tr>
        {% endif %}
        </tbody>
    </table>

    </div>

    </div>
  </main>

{% endblock content %}