{% extends 'pointofsale/mainapp_layout.html' %}


{% block title %} Sell Products {% endblock title %}

{% block content %}

      <!--Section: Products v.3-->
      <section class="text-center mb-4">
        <div class="container">
          <!--Grid row-->
        <div class="row wow fadeIn">

          <!--Grid column-->
          {% for product in products %}
          <div class="col-lg-3 col-md-4 col-sm-6 mb-4">

            <!--Card-->
            <div class="card">

              <!--Card image-->
              <div class="view overlay">
                <img src="{{ product.image_field.url }}" class="card-img-top"
                  alt="" height=180>
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
              <!--Card image-->

              <!--Card content-->
              <div class="card-body">
                <!--Category & Title-->
                  <h5>
                    <a href="{{ product.get_absolute_url }}" class="grey-text">{{ product.name|truncatechars:13 }} </a>  
                    <span class="ml-1"><strong>&#x20A6;{{ product.selling_price }}</strong></span>
                  </h5>

                <!-- <form action="">
                  <button class='btn btn-primary add-to-cart'>Add to cart</button>
                </form> -->
                <a href="{{ product.get_add_to_cart_url }}" class='btn btn-primary add-to-cart'>Add to Receipt</a>    
              </div>
              <!--Card content-->

            </div>
            <!--Card-->
          </div>
          <!--Grid column-->
          {% endfor %}

        </div>

        <div>
            <!--Pagination-->
              {% if is_paginated %}
                  <!-- Previous page -->
                  {% if page_obj.has_previous %}
                    <a  class="btn btn-outline-info mb-4" href="?page=1">First</a>
                    <a  class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                  {% endif %}

                  {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                      <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
                    
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
                    {% endif %}
                  {% endfor %}

                  {% if page_obj.has_next %}
                    <a  class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
                    <a  class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                  {% endif %}
            {% endif %}
        <!--Pagination-->
        </div>
        
      </section>
      <!--Section: Products v.3-->

      

    </div>
  </main>
  <!--Main layout-->



{% endblock %}